[Unit]
Description=AOSC Portal pastebin server daemon
After=network.target

[Service]
Type=simple
User=aosc-portal-paste
Group=aosc-portal-paste
WorkingDirectory=/var/cache/@PROGPREFIX@paste-server
ExecStart=@LIBEXECDIR@/@PROGPREFIX@paste-server/@PROGPREFIX@paste-server

[Install]
WantedBy=multi-user.target
